*.vtu
*.cproject
*.project
/*.cpp
CMakeCache.txt
CTestTestfile.cmake
CMakeFiles/
Makefile
cmake_install.cmake
tests/*
!tests/*.h
!tests/*.py
!tests/*.m
!tests/*.sh
examples/bd
examples/dem
examples/sph
constructors
geometry
neighbours
particle_container
symbolic
doc/html.xsl
doc/html-website.xsl
doc/html/*
doc/html-website/*
doc/libaboria/libaboria.doxyfile
!doc/html/boostbook.css
!doc/html/images/*
doc/autodoc.xml
doc/bin
*.bak
.color_coded
.ycm_extra_conf.*
compile_commands.json
python/*_generated.cpp
build*
.vscode/*
boostbook_catalog.xml
Testing/*
*.csv
